BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "input_clk" SITE "1" ;
LOCATE COMP "serial_rx" SITE "83" ;
LOCATE COMP "serial_tx" SITE "84" ;
IOBUF PORT "input_clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "serial_rx" IO_TYPE=LVCMOS33 ;
IOBUF PORT "serial_tx" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rst" PULLMODE=DOWN IO_TYPE=LVCMOS33 ;
LOCATE COMP "rst" SITE "2" ;
LOCATE COMP "sram_data[0]" SITE "63" ;
LOCATE COMP "sram_data[1]" SITE "62" ;
LOCATE COMP "sram_data[7]" SITE "61" ;
LOCATE COMP "sram_data[6]" SITE "60" ;
LOCATE COMP "sram_data[5]" SITE "59" ;
LOCATE COMP "sram_data[4]" SITE "58" ;
LOCATE COMP "sram_data[3]" SITE "54" ;
LOCATE COMP "sram_data[2]" SITE "57" ;
LOCATE COMP "sram_we_n" SITE "53" ;
LOCATE COMP "sram_oe_n" SITE "69" ;
LOCATE COMP "sram_ce_n" SITE "64" ;
LOCATE COMP "sram_addr[0]" SITE "68" ;
LOCATE COMP "sram_addr[1]" SITE "67" ;
LOCATE COMP "sram_addr[2]" SITE "66" ;
LOCATE COMP "sram_addr[3]" SITE "65" ;
LOCATE COMP "sram_addr[4]" SITE "52" ;
LOCATE COMP "sram_addr[5]" SITE "51" ;
LOCATE COMP "sram_addr[6]" SITE "47" ;
LOCATE COMP "sram_addr[7]" SITE "45" ;
LOCATE COMP "sram_addr[8]" SITE "39" ;
LOCATE COMP "sram_addr[9]" SITE "40" ;
LOCATE COMP "sram_addr[10]" SITE "41" ;
LOCATE COMP "sram_addr[11]" SITE "42" ;
LOCATE COMP "sram_addr[12]" SITE "43" ;
LOCATE COMP "sram_addr[13]" SITE "70" ;
LOCATE COMP "sram_addr[14]" SITE "71" ;
LOCATE COMP "sram_addr[15]" SITE "74" ;
LOCATE COMP "sram_addr[16]" SITE "75" ;
LOCATE COMP "probe[0]" SITE "12" ;
LOCATE COMP "probe[1]" SITE "13" ;
LOCATE COMP "probe[2]" SITE "14" ;
LOCATE COMP "probe[3]" SITE "15" ;
LOCATE COMP "probe[4]" SITE "16" ;
LOCATE COMP "probe[5]" SITE "17" ;
LOCATE COMP "probe[6]" SITE "18" ;
LOCATE COMP "probe[7]" SITE "19" ;
IOBUF PORT "probe[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "probe[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "probe[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "probe[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "probe[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "probe[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "probe[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "probe[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[12]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[13]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[14]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[15]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_addr[16]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_ce_n" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_oe_n" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_we_n" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_data[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_data[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_data[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_data[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_data[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_data[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_data[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sram_data[7]" IO_TYPE=LVCMOS33 ;
